// Base
// Includes styles that hardly change and don't require compiling as often

// Tailwind imports
@tailwind base;
@tailwind components;

// Imports
// Include variables, base styles, grids, typography, components and other partials
/* purgecss start ignore */
@import "lib/fonts";
@import "partials/layout";
//@import "partials/pagination";
//@import "partials/typography";
//@import "sections/sections";

/* purgecss end ignore */

// Base styles
html,
body {
  scroll-behavior: smooth;
}

html {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
textarea,
select {
  background: #f2f2f1 !important;
  border-radius: 5px !important;
  border: none !important;
  color: #141414 !important;
  padding-top: 6px !important;
  font-size: 15px !important;
  padding-bottom: 6px !important;
  color: #73634c !important;
  width: 100% !important;

  &::placeholder {
    color: #14141430 !important;
  }
}

.field--select {
  position: relative;
  &::after {
    @apply font-headings;
    content: "+";
    position: absolute;
    right: 10px;
    font-size: 16px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 16px;
  }
}

.field .inner {
  position: relative;
  display: inline-block;
  width: 100%;
  svg {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
    padding: 8px;
    height: 25px;
    width: 25px;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
  }
}
