.content-grid {
  &.neo-block {
    overflow: unset !important;
  }
  border-top: 1px solid #c8c8c8;
  padding-top: 15px;

  &__inner {
    @apply flex flex-col;
    gap: 15px;
  }

  &__cell {
    padding: 15px;
    background: #f8f8f8;
    border-radius: 5px;
    .text-body-lg {
      @apply block;
      margin-bottom: 12px;
    }

    @screen md {
      .text-body-lg {
        margin-bottom: 40px;
      }
    }
  }

  &__content {
    margin-bottom: 0px !important;

    p:last-child {
      @apply mb-0;
    }
  }

  @screen md {
    .sticky-heading {
      position: sticky;
      top: 15px;
    }

    &__cell {
      .text-body-lg {
        margin-bottom: 45px;
      }
    }
  }
}
