.content-block {
  &.has-top-border {
    border-top: 1px solid #c8c8c8;
    padding-top: 15px;
  }

  h6 {
    @apply font-body;
  }

  &__excerpt {
    @apply text-left;
    font-size: 18px;
    line-height: 18.9px;
    margin-bottom: 60px;

    h4,
    p {
      margin-bottom: 0px;
    }

    img {
      border-radius: 5px;
    }
  }

  &__text {
    p {
      font-size: 15px;
      line-height: 16.5px;
      letter-spacing: -0.1px;
    }
    ul {
      @apply list-disc pl-4 mb-6;
    }

    ol {
      @apply list-decimal pl-4 mb-6;
    }
  }

  .centered &__excerpt {
    text-align: center !important;
    margin: auto;
    margin-bottom: 40px;
  }

  .action-btn {
    .centered &__excerpt {
      margin-bottom: 90px;
    }
    font-size: 10px;
    line-height: 11px;
    letter-spacing: 0.1px;
  }

  @screen md {
    .action-btn {
      font-size: 15px;
      line-height: 16.5px;
      letter-spacing: 0.1px;

      .centered &__excerpt {
        margin-bottom: 90px;
      }
    }

    .centered &__excerpt {
      margin-bottom: 80px;
    }

    &__text {
      p {
        font-size: 18px;
        line-height: 19.8px;
        letter-spacing: -0.1px;
      }
    }
  }

  &__item {
    background: #f8f8f8;
    border-radius: 5px;

    p {
      margin-bottom: 15px;
    }

    h6 {
      margin-bottom: 15px;
    }

    @screen md {
      h6 {
        margin-bottom: 30px;
      }

      p {
        margin-bottom: 68px;
      }
    }

    @extend .transition;

    &:hover {
      @apply bg-primary;

      .action-btn {
        @extend .transition--;

        @apply text-default;

        @screen md {
          padding-left: 14px;
          position: relative;
          &::after {
            content: "+";
            position: absolute;
            left: 0px;
          }
        }
      }
    }
  }

  @screen md {
    &__excerpt {
      font-size: 25px;
      line-height: 26.5px;
      margin-bottom: 120px;
    }

    &__excerpt {
      @apply w-3/4;
      margin-bottom: 60px;
    }

    &__text {
      @apply w-1/2;
      margin-left: auto;
      font-size: 18px;
      line-height: 18.9px;
    }
  }
}
