.content-block {
  margin-bottom: 180px;

  &__excerpt {
    @apply text-center;
    margin-bottom: 120px;

    h4,
    p {
      margin-bottom: 0px;
    }
  }

  .action-btn {
    color: #c8c8c8;
  }

  &__text {
    ul {
      @apply list-disc pl-4 mb-6;
    }

    ol {
      @apply list-decimal pl-4 mb-6;
    }
  }

  &__item {
    background: #f8f8f8;
    border-radius: 5px;

    p {
      margin-bottom: 98px;
    }

    h6 {
      margin-bottom: 30px;
    }

    @extend .transition;

    &:hover {
      @apply bg-primary;

      .action-btn {
        @apply text-default;
        opacity: 1;
      }
    }
  }
}
