.content-block {

  &__excerpt {
    @apply mb-9 text-lead font-headings;
  }

  &__links {
    @apply mb-4;

    ul {

    }

    li {
      @apply border-b border-black;
    }

    a {
      @apply flex justify-between items-center py-3 px-2 font-headings;
      @extend .transition;
      font-size: 18px;

      .arrow {
        @apply w-6 flex-shrink-0;
      }

      &:hover {
        @apply bg-grey2;
      }
    }

  }

  &__accordion {

    &__item {
      @apply border-b border-black;

      &.active {
        .content-block__accordion__content {
          @apply block;
        }

        .content-block__accordion__title svg {
          transform-origin: center;
          transform: rotate(180deg);
        }
      }
    }

    &__title {
      @apply flex justify-between items-center mb-0 py-3 pr-2 font-headings cursor-pointer;
      @extend .transition;
      font-size: 18px;

      path {
        fill: black;
      }

      &:hover {
        @apply bg-grey2;
      }
    }

    &__content {
      @apply hidden;
    }

    &__inner {
      @apply pt-6 border-t border-black;
    }

  }

  &__text {
    ul {
      @apply list-disc pl-4 mb-6;
    }

    ol {
      @apply list-decimal pl-4 mb-6;
    }
  }

  @screen lg {
    &__excerpt {
      @apply text-lead-lg;
    }
  }

}