.cta {
  @apply relative;
  padding-top: 30px;
  border-top: 1px solid #c8c8c8;

  .container {
    @apply relative z-20;
  }

  &__left {
    @apply w-2/6;
    padding-right: 55px;
  }

  svg {
    height: 64.5px;
  }

  &__right {
    @apply w-4/6;
  }

  &__inner {
    @apply flex;
    @apply mx-auto pb-7;
  }

  &__text {
    margin-bottom: 50px;
  }

  @screen md {
    @apply text-left;

    svg {
      height: 94.5px;
    }

    &__text {
      margin-bottom: 120px;
    }

    &__inner {
      max-width: none;
    }

    &__left {
      @apply w-1/2;
      margin-bottom: 0px;
      margin-right: 0px;
    }

    &__right {
      @apply w-1/2;

      p:last-child {
        @apply mb-0;
      }
    }
  }

  @screen lg {
    &__right {
      @apply w-1/2;
    }
  }
}
