.cta {
  @apply relative text-center;
  padding-top: 30px;
  margin-top: 140px;
  border-top: 1px solid #c8c8c8;

  .container {
    @apply relative z-20;
  }

  &__inner {
    @apply mx-auto pb-7;
    max-width: 264px;
  }

  &__text {
    margin-bottom: 120px;
  }

  @screen md {
    @apply text-left;

    &__inner {
      @apply flex;
      max-width: none;
    }

    &__left {
      @apply w-1/2;
    }

    &__right {
      @apply w-1/2;

      p:last-child {
        @apply mb-0;
      }
    }
  }

  @screen lg {
    &__right {
      @apply w-1/2;
    }
  }
}
