.form {
  border-top: 1px solid #c8c8c8;
  padding-top: 15px;

  @apply relative;

  &__title {
    @apply mb-3;
    h2 {
      @apply mb-0;
    }
  }

  @screen md {
    &__title {
      @apply mb-14;
    }
  }

  &__image {
    @apply justify-end;
  }

  &__image-wrapper {
    @apply bg-cover bg-no-repeat bg-center;
    background-image: url("../../img/contact-image.png");
    border-radius: 5px;

    &:before {
      @apply block;
      content: " ";
      height: 715px;
    }
  }

  .this-field-has-errors {
    border-color: #ff0000;
  }

  div.field {
    @apply mb-6;

    label {
      @apply block mb-3;
    }

    input,
    select {
      @apply m-0;
    }

    .error.text-error {
      @apply block font-headings text-errors mb-0;
      background: #ff0000;
      color: white;
      font-size: 16px;
      padding: 8px 20px;
    }
  }

  .ff-form-success {
    padding: 10px 20px;
    background: #bcf5d3;
    margin-bottom: 1.5rem;
    border: 1px solid #68af85;

    p {
      @apply mb-0;
    }
  }

  .ff-form-errors.text-error,
  .ff-form-errors {
    @apply font-headings text-errors mb-6;

    p {
      @apply m-0;
    }
  }
}
