@keyframes mobileTicker {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  5% {
    opacity: 0.2;
    transform: translateY(100%);
  }

  10% {
    opacity: 0.4;
    transform: translateY(100%);
  }

  40% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
  }
}

@keyframes mobileTickerLast {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  5% {
    opacity: 0.2;
    transform: translateY(100%);
  }

  10% {
    opacity: 0.2;
    transform: translateY(100%);
  }

  40% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 1;
  }
}

@keyframes mdTicker {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  5% {
    opacity: 0.2;
    transform: translateY(100%);
  }

  10% {
    opacity: 0.4;
    transform: translateY(100%);
  }

  40% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes mdTickerLast {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  5% {
    opacity: 0.2;
    transform: translateY(100%);
  }

  10% {
    opacity: 0.4;
    transform: translateY(100%);
  }

  40% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero {
  @apply relative w-full overflow-hidden;

  &--home {
    @apply text-default flex items-center;
    min-height: calc(100vh - 89px);

    .container-fluid {
      @apply w-full;
    }
  }

  &--article {
    h1 {
      font-size: 60px;
      line-height: 66px;
      margin-bottom: 20px !important;
    }

    .hero__content {
      margin-top: 65px;
      padding-bottom: 35px;
    }

    button {
      margin-bottom: 15px;
    }
  }

  .news-page__item__categories {
    @apply relative top-0 flex items-center justify-center;
  }

  .news-page__item__categories li {
    @apply bg-primary;
  }

  &--image {
    padding-top: 106px;

    .container {
      @apply relative z-10 overflow-hidden;
    }

    .hero__image {
      @apply relative bg-cover bg-center bg-no-repeat;
      border-radius: 5px;
      margin-bottom: 40px;

      &:before {
        @apply block;
        content: " ";
        padding-top: 66.5%;
      }
    }

    @screen md {
      padding-top: 250px;

      .hero__image {
        margin-bottom: 90px;
      }
    }
  }

  &--generic {
    .container {
      @apply relative z-10;
    }

    h1 {
      margin-top: 108px !important;
      margin-bottom: 108px !important;
    }

    @screen md {
      h1 {
        margin-bottom: 180px !important;
        margin-top: 130px !important;
      }
    }
  }

  &--person {
    .container {
      @apply relative z-10;
    }

    h1 {
      margin-bottom: 0px !important;
    }

    &__title {
      margin-top: 130px;
      margin-bottom: 150px;
    }
  }

  &__person-img-holder {
    @apply block mb-6;
  }

  &__person-img {
    @apply block rounded-full bg-cover bg-no-repeat bg-center;
    width: 220px;
    height: 220px;

    &:after {
      @apply block;
      content: " ";
      padding-top: 100%;
    }
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  @screen md {
    &--article {
      .hero__content {
        margin-top: 130px;
        padding-bottom: 80px;
      }

      h1 {
        margin-bottom: 30px;
      }
    }
  }
}
