@keyframes mobileTicker {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  5% {
    opacity: 0.2;
    transform: translateY(100%);
  }

  10% {
    opacity: 0.4;
    transform: translateY(100%);
  }

  40% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
  }
}

@keyframes mobileTickerLast {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  5% {
    opacity: 0.2;
    transform: translateY(100%);
  }

  10% {
    opacity: 0.2;
    transform: translateY(100%);
  }

  40% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 1;
  }
}

@keyframes mdTicker {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  5% {
    opacity: 0.2;
    transform: translateY(100%);
  }

  10% {
    opacity: 0.4;
    transform: translateY(100%);
  }

  40% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes mdTickerLast {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  5% {
    opacity: 0.2;
    transform: translateY(100%);
  }

  10% {
    opacity: 0.4;
    transform: translateY(100%);
  }

  40% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero {
  @apply relative w-full overflow-hidden;

  &__content {
    text-transform: capitalize;
  }

  &--home {
    @apply text-default flex items-center;
    margin-top: 275px;
    margin-bottom: 230px;

    @screen md {
      margin-top: auto;
      min-height: calc(100vh - 48px);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 0px;
      padding-bottom: 80px;
      margin-bottom: 220px;
    }

    .container {
      @apply w-full;
    }
  }

  &--article {
    h1 {
      font-size: 30px;
      line-height: 31.5px;
      margin-bottom: 20px !important;
    }

    .hero__content {
      margin-top: 65px;
      padding-bottom: 35px;
    }

    a {
      margin-bottom: 15px;
    }

    @screen md {
      h1 {
        font-size: 60px;
        line-height: 66px;
      }
    }
  }

  .news-page__item__categories {
    @apply relative top-0 flex items-center justify-center;
  }

  .news-page__item__categories li {
    @apply bg-primary;
  }

  &--image {
    padding-top: 106px;

    .container {
      @apply relative z-10 overflow-hidden;
    }

    .hero__image {
      @apply relative bg-cover bg-center bg-no-repeat;
      border-radius: 5px;
      margin-bottom: 40px;

      &:before {
        @apply block;
        content: " ";
        padding-top: 66.5%;
      }
    }

    @screen md {
      padding-top: 250px;

      .hero__image {
        margin-bottom: 80px;
      }
    }
  }

  &--generic {
    .container {
      @apply relative z-10;
    }

    h1 {
      margin-top: 108px !important;
      margin-bottom: 108px !important;
    }

    @screen md {
      h1 {
        margin-bottom: 180px !important;
        margin-top: 130px !important;
      }
    }
  }

  &--person {
    .container {
      @apply relative z-10;
    }

    h1 {
      margin-bottom: 0px !important;
    }

    &__title {
      margin-top: 108px !important;
      margin-bottom: 108px !important;
    }

    .qualifications {
      @apply absolute;
      left: 0;
      right: 0;
      top: -16px;
      white-space: nowrap;

      @screen md {
        left: 100%;
        right: unset;
        top: 0;
      }
    }

    @screen md {
      &__title {
        margin-bottom: 180px !important;
        margin-top: 130px !important;
      }
    }
  }

  &__person-img-holder {
    @apply block mb-6;
  }

  &__person-img {
    @apply block rounded-full bg-cover bg-no-repeat bg-center;
    width: 220px;
    height: 220px;

    &:after {
      @apply block;
      content: " ";
      padding-top: 100%;
    }
  }

  h1 {
    text-align: center;
    margin-bottom: 40px;
  }

  @screen md {
    &--article {
      .hero__content {
        margin-top: 130px;
        padding-bottom: 80px;
      }

      h1 {
        margin-bottom: 60px;
      }
    }
  }
}

.hero--article + .content-block {
  .container- {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .content-block__excerpt {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .content-block__text {
    width: 100%;
  }
}
