.image-content {
  padding-bottom: 60px;

  &--default {
    .container {
      @apply grid-cols-1;
    }

    .image-content__content {
      display: flex;
      flex-direction: column;
    }

    .image-content__body {
      @apply w-full mx-auto;
      order: 2;
      margin-top: 60px;

      @screen md {
        @apply w-2/3;
      }
    }
  }

  &__img {
    @apply bg-cover bg-center bg-no-repeat;
    border-radius: 5px;

    &:before {
      @apply block;
      content: " ";
      padding-top: 72%;
    }
  }

  @screen md {
    &.has-top-border {
      border-top: 1px solid #c8c8c8;
      padding-top: 15px;
    }
  }
}
