.instagram {

  @apply py-10;

  &__row {
    @apply -mx-2 flex flex-wrap;
  }

  &__item {
    @apply p-2 w-1/2 relative;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(5),
    &:nth-child(6) {
      display: none;
    }

    &__inner {
      @apply block bg-cover bg-no-repeat bg-center;

      &:before {
        @apply block w-full;
        content: " ";
        padding-top: 100%;
      }
    }

    &__content {
       @apply absolute top-0 left-0 w-full h-full p-2 flex justify-center items-center text-center;

      div {
        max-width: 250px;
      }

      h3, h4 {
        @apply mb-0;
        max-width: 250px;
        font-size: 28px;
        line-height: 1.24;
      }

      h3 {
        @apply mb-6;
      }
    }
  }

  @screen md {

    &__item {
      @apply w-1/4;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(5),
      &:nth-child(6) {
        display: block;
      }
    }

  }


}