.pathways {
  @apply overflow-hidden;
  margin-bottom: 60px !important;

  .container {
    @apply relative;
  }

  &__slide-image {
    border-radius: 5px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title {
    h4 {
      @apply flex items-center;
      margin-bottom: 20px;
    }
  }

  &__blurb {
    @apply ml-2 w-8 h-8 rounded-full bg-primary inline-flex items-center justify-center;
    font-size: 16px;
    line-height: 1.2;
  }

  &__slide {
    @apply block relative mr-6;
    width: 100%;
    max-width: 215px;
  }

  &__slide-title {
    @apply absolute m-0 text-white font-headings;
    @extend .transition;
    z-index: 6;
    text-transform: capitalize;
    left: 15px;
    bottom: 15px;
  }

  &__nav {
    @apply absolute bottom-0 w-full flex justify-center flex-row-reverse;
  }

  &__slide-image {
    position: relative;
    width: 100%;
    padding-top: calc((4 / 2.85) * 100%);
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  @screen md {
    margin-bottom: 240px !important;

    .container {
      @apply pt-0;
    }

    &__slider-container {
      @apply relative;
    }

    &__nav {
      @apply top-0 bottom-auto left-0 flex-col w-16;

      svg {
        @apply w-full h-auto;
      }
    }

    &__slide {
      max-width: 425px;
    }
  }
}
