.people {
  border-top: 1px solid #c8c8c8;
  padding-top: 15px;
  @apply overflow-hidden;

  h6 {
    margin-bottom: 20px;
  }

  .person__container {
    @apply mr-6;
    width: 100%;
  }

  &__blurb {
    @apply ml-2 w-8 h-8 rounded-full bg-primary inline-flex items-center justify-center;
    font-size: 16px;
    line-height: 1.2;
  }

  &__inner {
    @apply relative;
    margin-bottom: 60px;
  }

  @screen md {
    &__inner {
      padding-bottom: 240px;
    }

    .person__container {
      @apply pr-6 mr-0;
      width: calc((100% / 4));
    }
  }

  &__img {
    @apply block bg-cover bg-no-repeat bg-center;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 5px;
    padding-bottom: 100%;
    @extend .transition--;
    &:hover {
      opacity: 0.9 !important;
    }
  }

  &__details,
  &__action {
    font-size: 12px;

    h4 {
      @apply mb-2;
    }

    h5 {
      @apply mb-2;
    }

    li {
      @apply flex;
    }

    li a {
      @apply inline-block pl-5 break-all;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__action {
    @apply pt-3;
    a {
      @extend .transition;
      &:hover {
        opacity: 0.3;
      }
    }
  }

  &__nav {
    @apply flex flex-row-reverse justify-center absolute bottom-0 left-0 w-full;
  }

  @screen md {
    &__inner {
      @apply pb-0 relative;
    }

    &__nav {
      @apply w-16 absolute top-0 left-0 flex-col justify-start;
    }

    &__details,
    &__action {
      font-size: 15px;
    }
  }
}
