.related-articles {
  border-top: 1px solid #c8c8c8;
  padding-top: 15px;

  h6 {
    margin-bottom: 20px;
  }

  .related-articles__item {
    @apply pr-6;
    width: calc(100vw - 120px);
    max-width: 425px;
  }
}
