.related-articles {
  border-top: 1px solid #c8c8c8;
  padding-top: 15px;

  h6 {
    margin-bottom: 20px;
  }

  .related-articles__item {
    @apply mr-6;
    @apply mr-6 w-2/3;
    max-width: 425px;
    display: flex;
    flex-direction: column;
    height: max-content;
  }

  .news-page__item {
    height: 100%;
    flex-grow: 1;
  }
}
