.related-articles {
  border-top: 1px solid #c8c8c8;
  padding-top: 15px;

  h6 {
    margin-bottom: 20px;
  }

  .related-articles__item {
    @apply mr-6 pr-0 w-full;
    display: flex;
    flex-direction: column;
    height: max-content;
  }

  .news-page__item {
    height: 100%;
    min-height: 350px;
    flex-grow: 1;
  }

  @screen md {
    padding-top: 30px;
    .related-articles__item {
      width: calc((100% / 3) - 12px);
    }
  }
}
