.tabs {
  border-top: 1px solid #c8c8c8;
  padding-top: 15px;

  &__container {
    @apply grid grid-cols-1;
    grid-gap: 15px;
  }

  &__tab {
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    padding: 15px;

    h6 {
      margin-bottom: 30px;
    }
  }

  @screen md {
    &__container {
      @apply grid grid-cols-2;
    }
  }
}
