.three-cols {
  border-top: 1px solid #c8c8c8;
  padding-top: 15px;

  &__grid .grid {
    grid-gap: 15px;
  }

  &__item {
    background: #f8f8f8;
    border-radius: 5px;
    padding: 15px;

    p:last-child {
      margin-bottom: 0px !important;
    }
  }

  .btn {
    background: #ffffff;
    &:hover {
      @apply bg-primary;
    }
  }

  @screen md {
    padding-bottom: 124px;
  }
}
