.two-col-images {
  @apply relative;

  border-top: 1px solid #c8c8c8;
  padding-top: 15px;

  .container {
    @apply relative z-10;
  }

  .text-body-lg p:last-child {
    margin-bottom: 0px;
  }

  &__row--reverse {
    .two-col-images__second-img {
      margin-top: 40px;
    }
  }

  &__primary-img {
    img {
      @apply w-full;
      border-radius: 5px;
    }
  }

  &__row {
    @apply flex;
  }

  &__row {
    @apply flex-col;

    &--reverse {
      @apply flex-col-reverse;
    }
  }

  &__primary {
    h2 {
      @apply mb-2;
      line-height: 1;
    }

    p {
      @apply mb-2;
    }
  }

  &__cta {
    @apply pt-6;

    &.desktop {
      display: none;
    }

    &.mobile {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @screen md {
    &__row {
      @apply -mx-5 flex flex-row;

      &--reverse {
        @apply flex-row-reverse;
      }
    }

    &__primary {
      @apply px-5 w-1/2;
    }

    &__second-img {
      margin-top: 0px;
      @apply flex flex-col justify-between px-5 w-1/2;
    }

    &__cta {
      &.desktop {
        display: block;
      }

      &.mobile {
        display: none;
      }
    }
  }
}
