.two-col-images {
  @apply relative;

  border-top: 1px solid #c8c8c8;
  padding-top: 15px;

  .container {
    @apply relative z-10;
  }

  @screen md {
    .container--tight {
      margin-left: 0px !important;
    }
  }

  .text-body-lg p:last-child {
    margin-bottom: 0px;
  }

  &__primary-img {
    img {
      @apply w-full;
      border-radius: 5px;
    }
  }

  &__row {
    @apply flex;
  }

  &__row {
    @apply flex-col;

    &--reverse {
      @apply flex-col-reverse;

      .two-col-images__primary {
        margin-bottom: 40px;
      }

      @screen md {
        .two-col-images__primary {
          margin-bottom: 0px;
        }
      }
    }
  }

  &__primary {
    h2 {
      @apply mb-2;
      line-height: 1;
    }

    p {
      @apply mb-2;
    }
  }

  &__cta {
    @apply pt-6;

    &.desktop {
      display: none;
    }

    &.mobile {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @screen md {
    &__row {
      @apply flex flex-row;

      &--reverse {
        @apply flex-row-reverse;
      }
    }

    &__primary {
      @apply w-1/2;
      margin-bottom: 0px;
    }

    &__second-img {
      margin-top: 0px;
      @apply flex flex-col justify-between w-1/2;
    }

    &__row--reverse {
      .two-col-images__second-img {
        padding-left: 15px;
        padding-right: 68px;
      }
    }

    &__row--default {
      .two-col-images__second-img {
        padding-right: 15px;
        padding-left: 68px;
      }
    }

    &__cta {
      &.desktop {
        display: block;
      }

      &.mobile {
        display: none;
      }
    }
  }
}
