{% extends "_layouts/layout.twig" %}

{% block template %}

    <div class="hero hero--generic sb-med">
        <div class="container">
            <div class="hero__content">
                <h1>
                    {{ 'Page not found'|t }}
                </h1>
            </div>
        </div>
        <div class="hero__pattern"></div>
    </div>

    <div class="content-block neo-block sb-med">
        <div class="container-">
            <div class="content-block__excerpt">
                <p>
                    {{ 'The page you were trying to view has either moved or does not exist.'|t }}
                </p>
            </div>

            <div class="content-block__action">
                <a href="{{alias('@siteUrl')}}" class="btn btn--solid btn--yellow">
                    {{ 'Visit the Home Page'|t }}
                </a>
            </div>
        </div>
    </div>

{% endblock %}