{% extends "_layouts/layout.twig" %} {% block template %}

<div class="hero hero--home">
  <div class="container">
    <h3>
      {{ entry.type }}
      {{ "404 - Page not Found" | t }}
    </h3>
  </div>
</div>

{% endblock %}
