.btn {
  @apply inline-flex justify-center items-center;
  @extend .transition--;
  font-size: 15px;
  line-height: 16.5px;
  letter-spacing: 0.1px;
  border-radius: 70px;
  color: text-default;
  padding: 0px 17px;
  height: 35px;
  line-height: 35px;

  svg {
    @apply mr-2;
  }

  &--solid {
    &.btn--yellow {
      @apply bg-primary;

      &:hover {
        @apply bg-black text-primary;
      }
    }

    &.btn--white {
      background: #f2f2f1;

      &:hover {
        @apply bg-primary;
      }
    }

    &.btn--grey {
      @apply bg-grey1;

      &:hover {
        @apply bg-primary text-black;
      }
    }
  }
}
