.btn {
  @apply justify-center items-center;
  display: inline-flex;
  @extend .transition--;
  border-radius: 70px;
  color: text-default;
  padding: 0px 17px;
  height: 29px;
  font-size: 12px;
  line-height: 14.5px;
  letter-spacing: 0.1px;
  text-transform: capitalize;
  text-wrap: nowrap;

  @screen md {
    font-size: 15px;
    line-height: 16.5px;
    height: 35px;
  }

  &:hover {
    padding-right: 33px;
    position: relative;
    opacity: 1 !important;

    &::after {
      content: "+";
      position: absolute;
      right: 15px;
    }
  }

  svg {
    @apply mr-2;
  }

  &--solid {
    &.btn--yellow {
      @apply bg-primary;
      &:hover {
        @apply bg-black text-primary;
      }
    }

    &.btn--white {
      background: #f2f2f1;

      &:hover {
        @apply bg-primary;
      }
    }
  }
}
