.footer {
  @apply bg-primary py-8;

  &__nav {
    li {
      @apply mb-4;
      font-size: 20px;
      line-height: 22px;
      font-weight: 500;
      letter-spacing: -0.3px;
    }

    a {
      @extend .transition;
      &:hover {
        opacity: 0.3;
      }
    }
  }

  &__location {
    margin-bottom: 40px;

    p {
      margin-bottom: 0px;
    }

    address {
      @apply not-italic;
    }

    .locations__item__link {
      margin-top: 20px;
      @apply underline;
    }
  }

  &__bottom {
    @apply font-headings;

    padding: 10px 0px;
    font-size: 12px;

    li {
      @apply mb-4;
    }

    a:hover {
      @apply underline;
    }
  }

  @screen md {
    @apply pt-10 pb-0;

    .container {
      @apply flex flex-wrap;
    }

    &__main {
      @apply w-full flex mb-16;
    }

    &__logo {
      @apply px-5 w-1/2;

      svg {
        @apply w-auto h-auto;
      }
    }

    &__nav {
      @apply px-5 w-1/2;
    }

    &__locations {
      @apply w-full flex flex-wrap;
    }

    &__location {
      @apply px-5 w-1/2;

      &__title {
        @apply mb-0;
      }
    }

    &__bottom {
      @apply bg-black text-white;

      .container {
        @apply w-full flex justify-between;

        ul {
          @apply flex -mx-3;

          li {
            @apply relative px-3 mb-0;
          }
        }
      }
    }

    &__subbottom {
      @apply flex justify-end relative;

      margin-top: 110px;
      padding-top: 30px;
      padding-bottom: 30px;

      &__logo {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0;
      }
    }
  }

  &__social {
    @apply flex;
    z-index: 3;

    li {
      @apply px-2;
    }

    svg {
      width: 25px;
      height: 25px;
    }
  }

  @screen lg {
    &__main {
      @apply w-1/2;
    }

    &__nav {
      @apply w-1/2;
    }

    &__locations {
      @apply w-1/2;
    }
  }
}
