.header {
  @apply absolute top-0 left-0 w-full z-50;
  padding-top: 12px;
  padding-bottom: 12px;

  &--fixed {
    @apply fixed;
    transform: translateY(-120%);
    @extend .transition;
  }

  .container-fluid {
    @apply flex justify-between items-center;
  }

  &__logo {
    @apply m-0;

    svg {
      width: 157px;
    }

    @screen md {
      svg {
        width: 194px;
      }
    }
  }

  &--active-nav {
    @apply bg-white;
  }

  &__mobile-actions {
    ul {
      @apply flex;
    }

    li {
      @apply mr-6;

      &:last-child {
        @apply mr-0;
      }
    }

    a {
      @apply flex items-end;
      height: 18px;
    }

    .close {
      @apply hidden;
    }

    .header--active-nav & {
      .close {
        @apply block;
      }

      .open {
        @apply hidden;
      }
    }
  }

  &__nav {
    display: none;
  }

  @screen lg {
    &__mobile-actions {
      @apply hidden;
    }

    &__nav {
      @apply block top-auto max-w-none h-auto w-auto;
    }
  }
}

[data-scrolldir="up"] .header {
  &--fixed {
    @apply bg-white;

    transform: translateY(0);
  }
}
