body {
  padding-top: 49px;
}

body.homePage {
  padding-top: 49px;
}

.app {
  @apply relative z-10;
}

.container {
  @apply px-6 mx-auto;
  // max-width: 1410px;
  max-width: unset !important;
}

.container- {
  @apply px-6 mx-auto;
  // max-width: 863px;
  max-width: unset !important;
}

.container--small {
  @apply px-6 mx-auto;
  max-width: unset !important;

  @screen md {
    max-width: 863px !important;
  }
}

.md\:container {
  @screen md {
    @apply px-6;
    // max-width: 1400px;
    max-width: unset !important;
  }
}

.container-fluid {
  @apply px-6;
}

.neo-block {
  @apply w-full overflow-hidden;
}

.mb-sml {
  @apply mb-12;
}

.mb-md {
  @apply mb-14;
}

.mb-lg {
  @apply mb-16;
}

.pt-sml {
  @apply pt-12;
}

.pt-md {
  @apply pt-14;
}

@screen md {
  body.homePage {
    padding-top: 89px;
  }

  .md\:py-md {
    @apply py-14;
  }
}

// bottom spacings
.sb-none {
  @apply mb-0;
}

.sb-sml {
  @apply mb-8;
}

.sb-med {
  @apply mb-10;
}

.sb-lg {
  @apply mb-16;
}

@screen md {
  .sb-med {
    @apply mb-15;
  }

  .sb-lg {
    @apply mb-24;
  }
}

.flickity-viewport {
  border-radius: 5px !important;
}

.flickity__container {
  position: relative;
}

.flickity__nav {
  @apply hidden;

  @screen md {
    @apply block;
  }

  &--prev,
  &--next {
    background: #f2f2f1;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 99;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &--prev {
    @apply absolute;
    left: 25px;
  }

  &--next {
    @apply absolute right-0;
    right: 25px;
  }
}
