body {
  padding-top: 48px;
}

body.homePage {
  padding-top: 48px;
}

.app {
  @apply relative z-10;
}

.container,
.container-,
.container-fluid {
  @apply mx-auto;
  padding-left: 15px !important;
  padding-right: 15px !important;
  max-width: unset !important;
}

@screen md {
  .container,
  .container- {
    padding-left: 68px !important;
    padding-right: 68px !important;
  }

  .container-fluid {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

.container--small {
  @apply px-6 mx-auto;
  max-width: unset !important;

  @screen md {
    max-width: 863px !important;
  }
}

.container--tight {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.md\:container {
  @screen md {
    @apply px-6;
    // max-width: 1400px;
    max-width: unset !important;
  }
}

.neo-block {
  @apply w-full overflow-hidden;
}

.mb-sml {
  @apply mb-12;
}

.mb-md {
  @apply mb-14;
}

.mb-lg {
  @apply mb-16;
}

.pt-sml {
  @apply pt-12;
}

.pt-md {
  @apply pt-14;
}

@screen md {
  .md\:py-md {
    @apply py-14;
  }
}

// bottom spacings
.sb-none {
  @apply mb-0;
}

.sb-sml {
  @apply mb-8;
}

.sb-med {
  @apply mb-10;
}

.sb-lg {
  @apply mb-16;
}

@screen md {
  .sb-med {
    @apply mb-15;
  }

  .sb-lg {
    @apply mb-24;
  }
}

.flickity-viewport {
  border-radius: 5px !important;
}

.flickity__container {
  position: relative;
}
