@screen pc {
  .nav {
    @apply w-full block fixed bg-white right-0 z-10 overflow-x-hidden overflow-y-scroll;
    @extend .transition;
    padding: 15px;
    padding-top: 122px;
    top: 0;
    max-width: 100%;
    height: calc(100vh);
    opacity: 0;
    z-index: -2;
    pointer-events: none;

    .nav__li {
      @extend .transition;
    }

    &__li:nth-child(1) {
      transform: translateX(5px);
    }
    &__li:nth-child(2) {
      transform: translateX(10px);
    }
    &__li:nth-child(3) {
      transform: translateX(15px);
    }
    &__li:nth-child(4) {
      transform: translateX(20px);
    }
    &__li:nth-child(5) {
      transform: translateX(25px);
    }
    &__li:nth-child(6) {
      transform: translateX(30px);
    }

    .header--active-nav & {
      opacity: 1;
      pointer-events: auto;

      .nav__li {
        transform: translateX(0);
      }
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__social-item {
      padding-right: 0.5rem;
    }

    &__anchor {
      @apply flex justify-between relative;
      @extend .transition--;
      font-size: 30px;
      line-height: 34.5px;
      letter-spacing: -0.3px;

      &.active,
      &:hover {
        opacity: 0.3;
      }
    }

    &__contact {
      @apply px-3 py-5 flex justify-center;
    }

    &__subnav-image {
      @apply mb-6;

      &:before {
        @apply block bg-cover bg-no-repeat bg-center;
        content: " ";
        padding-top: 75%;
      }
    }

    &__subnav-blurb {
      @apply py-5;
      font-size: 20px;
      line-height: 1.48;
    }

    &__subnav-link {
      a {
        @apply underline;
      }
    }
  }
}
