{% set form = craft.freeform.form(block.form.handle, {
    formAttributes: { "novalidate": true },
    returnUrl: craft.app.request.url ~ "?success"
}) %}

<div class="form {{ bottomSpacing }} neo-block">
    <div class="container">
        <div class="form__container">
            <div class="form__title">
                <h2>{{ block.sectionTitle }}</h2>
                <p>*required</p>
            </div>
            <div class="form__inner">
                {% include ("_partials/form.twig") with { form: form } %}
            </div>
        </div>
        <div class="form__pattern">
            <div class="form__pattern__inner"></div>
        </div>
    </div>
</div>