{% set form = craft.freeform.form(block.form.handle, { formAttributes: {
"novalidate": true }, returnUrl: craft.app.request.url ~ "?success" }) %}

<div class="form {{ bottomSpacing }} neo-block">
  <div class="container grid grid-cols-12">
    <div class="form__container col-span-12 md:col-span-6">
      <div class="form__title">
        <span class="text-body-lg">{{ block.sectionTitle }}</span>
      </div>
      <div class="form__inner">
        {% include ("_partials/form.twig") with { form: form } %}
      </div>
    </div>
    <div class="hidden md:flex form__image col-span-12 md:col-span-6">
      <div class="md:w-1/2 form__image-wrapper"></div>
    </div>
  </div>
</div>
