{% set primaryImage = { mode: 'crop', width: 300, height: 300, quality: 100,
position: 'center-center' } %}

<div class="instagram neo-block {{ bottomSpacing }}" data-instagram>
  <div class="container instagram__title mb-3 md:mb-0">
    <span class="text-body-lg font-headings"> Team Highlights </span>
  </div>

  <div class="container flickity__container">
    <div class="flickity__nav">
      <a href="#" data-instagram-next class="flickity__nav--next">
        {% include "_svg/chervonRight" %}
      </a>
      <a href="#" data-instagram-prev class="flickity__nav--prev">
        {% include "_svg/chervonLeft" %}
      </a>
    </div>

    <div class="instagram__inner">
      <div class="instagram__slider" data-instagram-slider>
        {% for post in block.children.all() %}
        <div class="flex flex-col min-h-full instagram__container">
          {% if post.primaryImage.one() %} {% if post.sectioncta.getUrl() %}
          <a
            href="{{ post.sectioncta.getUrl() }}"
            class="instagram__img"
            style="background-image: url({{
              post.primaryImage.one().getUrl(primaryImage)
            }})"
          ></a>
          {% else %}
          <div
            class="instagram__img"
            style="background-image: url({{
              post.primaryImage.one().getUrl(primaryImage)
            }})"
          ></div>
          {% endif %} {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
