<div class="tabs neo-block {{ bottomSpacing }}">
  <div class="container" data-tabs>
    <div class="tabs__container">
      {% for child in block.children.all() %}
      <div
        class="tabs__tab{% if loop.index == 1 %} active{% endif %}"
        data-tab="{{ child.id }}"
      >
        <div class="tabs__tab__inner">
          <div class="tabs__tab__body">
            <h6>
              {{ child.sectionTitle }}
            </h6>
            {{ child.sectionBody }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
