{% set testimonial = block.testimonial.one() %} {% set img =
testimonial.primaryImage.one() %} {% set imgSize = { mode: 'crop', width: 480,
height: 480, quality: 100, position: 'center-center' } %} {% if testimonial %}
<div class="testimonial neo-block hidden md:block {{ bottomSpacing }}">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div>
        <p class="text-body-lg">Client Testimonials</p>
      </div>
      <div class="testimonial__inner">
        <div class="testimonial__text">
          <div class="testimonial__personal flex items-center">
            <div class="block w-3 h-3 bg-yellow-400 rounded-full mr-2"></div>
            <span class="text-body-lg">
              {{ testimonial.title }}
            </span>
          </div>
          <div class="testimonial__content text-body-lg">
            {{ testimonial.sectionBody }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
