.news-page {
  margin-bottom: 60px;

  &__insight-split {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  &__featured {
    &__img {
      @apply bg-cover bg-no-repeat bg-center;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      &:after {
        @apply block;
        content: " ";
        padding-top: 72%;
      }
    }
  }

  form {
    width: 100%;
    @apply grid gap-3;
    margin-bottom: 60px;
  }

  .btn.desktop {
    display: none !important;
  }

  .mobile {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
  }

  &__switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%;
  }

  &__switcher-wrapper {
    display: flex;
    align-items: center;
    background: #f2f2f1;
    border-radius: 50px;
    height: 45px;
    padding: 5px;

    li {
      @apply text-default font-headings;

      display: flex;
      align-items: center;
      height: 35px;
      padding-left: 17px;
      padding-right: 17px;
      border-radius: 50px;
      cursor: pointer;
    }
  }

  &__featured-split {
    margin-top: 60px;
    margin-bottom: 15px;
  }

  &__read-more {
    font-size: 8.5px;
  }

  &__item {
    @apply flex flex-col justify-between;
    background: #f8f8f8;
    border-radius: 5px;

    &:hover {
      .news-page__read-more {
        @apply text-default;
        opacity: 1;
      }
    }

    &__content {
      padding: 15px 15px 0px 15px;
      font-size: 10px;

      p:last-child {
        margin-bottom: 0px !important;
      }
    }
    &__inner {
      @apply relative;
    }

    &__image {
      @apply bg-cover bg-no-repeat bg-center;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      &:after {
        @apply block;
        content: " ";
        padding-top: 60%;
        border-radius: 5px;
      }
    }

    &__categories {
      @apply absolute;

      top: 10px;
      left: 10px;

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
      }

      li {
        @apply font-headings;
        background: #f8f8f8;
        opacity: 0.9;
        border-radius: 4px;
        padding: 0px 8px;
        height: 19px;
        line-height: 19px;
        font-size: 8.5px;
        letter-spacing: -0.1px;

        @screen md {
          font-size: 12px;
          height: 25px;
          line-height: 25px;
        }
      }
    }
  }

  &__read-more {
    @apply block;

    padding: 0px 15px 15px 15px;
    color: #c8c8c8;
    margin-top: 12px;

    &:hover {
      opacity: 0.3;
    }

    @screen md {
      margin-top: 60px;
    }
  }

  @screen md {
    margin-bottom: 180px;

    .btn.desktop {
      display: inline-flex !important;
    }

    .mobile {
      display: none !important;
    }

    &__switcher {
      margin-bottom: 60px;
    }

    form {
      @apply grid-cols-1;
      margin-bottom: 0px;
    }

    &__item {
      &__content {
        font-size: 15px;
      }

      &__summary {
        padding-right: 68px;
      }
    }

    &__read-more {
      font-size: 15px;
    }
  }
}
