.our-people {
  &__inner {
    @apply flex;
    flex-direction: column;
  }

  @screen lg {
    &__img {
      height: 315px;
    }
  }

  &__person {
    margin-bottom: 80px;
  }

  &__img {
    @apply overflow-hidden bg-cover bg-no-repeat bg-center flex-shrink-0;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  &__desc {
    .text-body-lg {
      @apply font-headings;
      display: block;
      margin-bottom: 20px;
    }

    .our-people__location {
      margin-bottom: 0px;
    }

    .our-people__action {
      @apply font-headings;
      margin-top: 20px;
    }
  }

  .js-people-search-form input {
    width: 315px;
  }

  .js-people-filter .field {
  }

  a:hover {
    opacity: 0.3;
  }
}
