.person-page {
  &__contact {
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 15px;
    font-size: 10px;
  }

  .btn-container {
    @apply absolute;
    bottom: 10px;
    left: 10px;
  }

  &__image {
    display: block;
    content: " ";
    padding-top: 100%;
    background-size: cover;
    border-radius: 5px;
  }

  @screen md {
    padding-bottom: 150px;

    &__contact {
      font-size: 15px;
    }
  }
}
